body{
    background-color: rgba(250, 150, 150, 0.8)
}

#profile_image{
    border: 2px dotted black;
}

.layout{
    
}

.layout{
    color: #5959c4;
    font-family: cursive;
}
table tr:first-child{
    background-color: rgba(250, 250, 250, 0.8)  
}


.snehasish-centerheader {
  text-align: center;
  background-color: white;
}

.profile-pic {
    border-radius: 50%;
}

.carousel-item {
 height: 500px;
    text-align: center;
}


.item1 {
  background-color:red;
  height: 100px;
}

.item2 {
  background-color:yellow;
  height: 100px;
}

.item3 {
  background-color:blue;
  height: 100px;
}

